*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  
  }

.container{
  background-image:linear-gradient(rgba(0, 0, 0, 1.9),rgba(0, 0, 0, 0.4)), url("https://images.pexels.com/photos/1342609/pexels-photo-1342609.jpeg?cs=srgb&dl=pexels-the-lazy-artist-gallery-1342609.jpg&fm=jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  

}

.logo{
  height: 80px;
  width:80px;
  cursor: default;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
 
  
}

nav{
  flex: 1;
  text-align: right;
  
}

 a, ul, li{
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  color: white;
  font-size:18px;
  margin: 0 15px;
}

a:hover{
  color: aqua;
  transform: scale(1.1);
}

.row{
  color: white;
  display: flex;
  align-items: center;
  height: 70%;
  
  
}

.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 60%;
  padding: 30px;
}

span{
  color: aqua;
  font-size: 50px;
  cursor: default;
 
}

p{
  line-height: 21px;
  font-family: 'Signika Negative', sans-serif;
  margin-top: 30px;
  cursor: default;
}

button{
  margin-top: 10px;
  width: 200px;
  padding: 10px 0;
  border-radius: 15px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}


button:hover{
  animation: colorful;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes colorful {
  100%{background-color: rgb(155, 175, 169)}
}

.card1, .card2, .card3, .card4{
  width: 250px;
  height: 230px;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 25px;
  margin: 10px 15px;
  background-image: url("");
  background-position: center;
  background-size: cover;
  transition: transform 0.3s;
  cursor: pointer;
}

.card1{
  background-image: url("https://images.pexels.com/photos/9878309/pexels-photo-9878309.jpeg?cs=srgb&dl=pexels-antony-trivet-9878309.jpg&fm=jpg");
  border-top-left-radius: 20px;
}

.card2{
  background-image: url("https://images.pexels.com/photos/190819/pexels-photo-190819.jpeg?cs=srgb&dl=pexels-fernando-arcos-190819.jpg&fm=jpg");
  border-top-right-radius: 20px;
}

.card3{
  background-image: url("https://images.pexels.com/photos/592815/pexels-photo-592815.jpeg?cs=srgb&dl=pexels-alex-carollo-592815.jpg&fm=jpg");
  border-bottom-left-radius: 20px;
}

.card4{
  background-image: url("https://images.pexels.com/photos/9561286/pexels-photo-9561286.jpeg?cs=srgb&dl=pexels-quang-viet-nguyen-9561286.jpg&fm=jpg");
  border-bottom-right-radius: 20px;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover{
  transform: translateY(-10px);
}